<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body class="container">
    <%- include('header'); %>

    <main>
        <div class="jumbotron">
            <h1>About me</h1>
            <p>Hello, I'm Weslley Oliveira engineer software</p>
        </div>
    </main>

    <%- include('footer'); %>
</body>
</html>