<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>


<body class="container">
    <%- include('../partials/header'); %>
    <main class="jumbotron">
        <div>
            <h1>Node with EJS</h1>
            <p>lets learn to work with archive EJS</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>